<app-nav></app-nav>
<div class="container">
  <div class="starter-template">
    <h1>{{title}}</h1>
    <p class="lead">A better way to Monitor your Money.</p>
    <button kendoButton (click)="onButtonClick()" [primary]="true">Let's Start</button>
  </div>
</div>
<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  Select file to upload:
  <input type="file" accept=".csv,.txt" name="transaction" id="fileToUpload" formControlName="fileToUpload" (change)="fileEvent($event)">
  <input type="submit" value="Upload file" name="submit">
</form>

<kendo-grid #gridUser [data]="gridData" [filterable]="true" [selectable]="true" [pageable]="true" [pageSize]="20" [height]="410"
(selectionChange)="gridUserSelectionChange(gridUser, $event)">
  <kendo-grid-column field="Date" title="Date" width="140" filter="date" format="{0:d}">
  </kendo-grid-column>
  <kendo-grid-column field="Description" title="Description" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="AccountNumber" title="AccountNumber" width="200">
  </kendo-grid-column>
  <kendo-grid-column field="Amount" title="Amount" width="120" filter="numeric" format="{0:c2}">
  </kendo-grid-column>
  <kendo-grid-column field="SubCategoryId" title="SubCategoryId" width="160">
  </kendo-grid-column>
</kendo-grid>
<app-footer></app-footer>

