<app-nav></app-nav>
<div class="container">
  <div class="starter-template">
    <h1>{{title}}</h1>
    <p class="lead">A better way to Monitor your Money.</p>
    <button kendoButton (click)="onButtonClick()" [primary]="true">Let's Start</button>
  </div>
</div>
<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  Select file to upload:
  <input type="file" accept=".csv,.txt" name="transaction" id="fileToUpload" formControlName="fileToUpload" (change)="fileEvent($event)">
  <input type="submit" value="Upload file" name="submit">
</form>
<app-footer></app-footer>

